.publicity {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}


.image-add img{
    width: 100%;
}

.text-add {
    margin-top: 20px;
    text-align: justify;
    font-size: 15px;
}